:root {
  --color-gray-900: rgba(35, 31, 32, 1);
  --color-gray-800: rgba(42, 43, 48, 1);
  --color-gray-700: rgba(61, 64, 80, 1);
  --color-gray-500: rgba(111, 109, 123, 1);
  --color-gray-400: rgba(187, 187, 187, 1);
  --color-gray-300: rgba(196, 196, 196, 1);
  --color-gray-250: rgba(195, 195, 195, 1);
  --color-dark-900: rgba(0, 0, 0, 1);
  --color-dark-700: rgba(39, 39, 51, 1);
  --color-dark-800: rgba(16, 16, 29, 0.9);
  --color-blue-900: rgba(40, 102, 144, 1);
  --color-blue-800: rgba(62, 156, 220, 1);
  --color-blue-700: rgba(67, 171, 240, 1);
  --color-blue-600: rgba(66, 169, 237, 1);
  --color-light: rgba(255, 255, 255, 1);
  font-size: 16px;
}

@media (max-width: 4000px) {
  .order-section-form {
    margin-top: 30px;
    display: grid;
    padding: 18px 45px;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 57px 120px 45px;
  }
}

@media (min-width: 1600px) {
  .footer {
    min-height: 80px;
    display: flex;
    align-items: center;
    padding-left: 400px;
    background-color: var(--color-gray-700);
    color: var(--color-light);
    font-size: 0.8rem;
  }

  .footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__links a {
    margin: 0 15px;
  }

  .footer p::after {
    content: "|";
    margin-left: 35px;
  }

  .footer__links a:nth-child(3)::after {
    content: "|";
    margin-left: 45px;
  }
}

@media (max-width: 1580px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 15px;
  }

  .header__nav {
    margin-right: 40px;
  }
}

@media (min-width: 992px) {
  .order-section__button {
    min-width: 375px;
  }

  .footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__links a {
    margin: 0 15px;
  }
  .header__menu-button {
    opacity: 0;
    height: 0;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 14px;
  }

  .header__nav {
    visibility: hidden;
  }
  .header__menu-button {
    position: absolute;
    right: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 1rem;
  }
  .header__menu-button:active {
    background-color: var(--color-blue-800);
  }
  .header__menu-button__img {
    width: 3.5rem;
    filter: brightness(0) saturate(100%) invert(74%) sepia(93%) saturate(0%)
      hue-rotate(188deg) brightness(91%) contrast(90%);
  }
  .order-section__links {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .order-section-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .order-section-form select,
  input {
    height: 60px;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 20px;
  }

  .footer__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  :root {
    font-size: 9px;
  }
}

@media (max-width: 330px) {
  :root {
    font-size: 7px;
  }
}

html {
  font-family: Lato, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__container {
  margin: 0 auto;
  max-width: 1920px;
  height: 100%;
  overflow: hidden;
}
.hidden-element {
  opacity: 0;
  height: 0;
  visibility: hidden;
}
.modal-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 50%;
  background-color: var(--color-dark-700);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  z-index: 2;
}
.modal-menu__close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: var(--color-blue-600);
  cursor: pointer;
}
.modal-menu__nav {
  height: 100%;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 40px);
}

.modal-menu__nav a {
  text-decoration: none;
  color: var(--color-light);
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-menu__nav a:hover {
  color: var(--color-blue-600);
}

.header {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-dark-700);
}

.header__container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1215px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-top: 3px;
  margin-left: 45px;
  font-family: Raleway, sans-serif;
  color: var(--color-light);
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 700;
}

.header__logo span {
  color: var(--color-blue-600);
}

.header__nav {
  min-width: 435px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav a {
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--color-light);
}

.header__nav .active {
  color: var(--color-blue-600);
}

.main-content {
  width: 100%;
  height: 887px;
  background: url("../assets/images/background-image.jpg") no-repeat center
    center;
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.main-content__container {
  grid-column: span 2 / 4;
}

.main-content__title {
  text-align: start;
  font-size: 3.1875rem;
}

.main-content__title span {
  color: var(--color-blue-700);
}

.main-content__title span:nth-child(2),
span:nth-child(4) {
  color: var(--color-dark-800);
}

.main-content__subtitle {
  font-family: Lato, sans-serif;
  margin-top: 85px;
  text-align: start;
  font-size: 1.25rem;
  font-weight: bold;
}

.main-content__list {
  width: 100%;
  text-align: start;
  list-style: none;
}

.main-content__list-item {
  font-family: Lato, sans-serif;
  font-size: 1.25rem;
  color: var(--color-dark-900);
}

.main-content__list-item::before {
  content: "-";
  margin-left: -33px;
  margin-right: 10px;
}

.main-content__buttons {
  margin-top: 78px;
  max-width: 480px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.main-content__button {
  width: 184px;
  height: 43px;
  padding: 10px 20px;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--color-light);
  border: 1px solid;
  border-color: var(--color-light);
  background-color: var(--color-blue-600);
  border-radius: 5px;
  cursor: pointer;
}

.main-content__button:active {
  background-color: var(--color-light);
  color: var(--color-blue-700);
}

.main-content__button:last-child {
  width: 185px;
  background-color: var(--color-light);
  border: 1px solid;
  border-color: var(--color-gray-400);
  color: var(--color-gray-500);
}

.main-content__button:last-child:active {
  background-color: var(--color-blue-800);
  color: var(--color-light);
}

.order-section {
  text-align: center;
  color: var(--color-light);
  padding-top: 70px;
  background: linear-gradient(rgba(16, 16, 29, 0.9), rgba(16, 16, 29, 0.9)),
    url("../assets/images/layout_order_section.png") no-repeat center
      center/cover;
}

.order-section__container {
  margin: 0 auto;
}

.order-section__title {
  margin-left: -27px;
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--color-light);
}

.order-section__title span {
  color: var(--color-blue-600);
}

.order-section__subtitle {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.order-section__links {
  margin-top: 89px;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 2px;
}

.order-section__dots {
  width: 9.68rem;
  margin-top: 3rem;
}

.order-section__link {
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.order-section__link-img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 7px;
  border: 0.43rem solid;
  border-color: var(--color-blue-900);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-600);
}

.order-section-form {
  margin: 0 auto;
  max-width: 1000px;
}

.order-section-form select,
input {
  font-size: 1.25rem;
  padding: 0 10px;
  border-radius: 5px;
}

.order-section-form__label_progress {
  grid-column: span 2;
  display: grid;
  grid-template-rows: 54px 20px;
  padding: 0 5px 10px 20px;
}

.order-section__range {
  -webkit-appearance: none;
  width: 95%;
  height: 8px;
  background: var(--color-light);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.order-section__range:hover {
  opacity: 1;
}

.order-section__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 27px;
  height: 27px;
  margin-top: -10px;
  background: var(--color-blue-600);
  cursor: pointer;
  border: 3px solid;
  border-color: var(--color-blue-900);
  border-radius: 50%;
}

.order-section__range::-moz-range-thumb {
  margin-top: -8px;
  width: 25px;
  height: 25px;
  background: var(--color-blue-600);
  cursor: pointer;
  border-radius: 50%;
}

.order-section__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: var(--color-light);
  border-radius: 5px;
}

.order-section__range::-moz-range-track {
  width: 100%;
  height: 8px;
  background: var(--color-light);
  border-radius: 5px;
}

/* Focus styles */
.order-section__range:focus {
  outline: none;
}

.order-section-form__label_progress div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}

.order-section-form__label_file {
  margin-top: 10px;
  padding: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: var(--color-gray-500);
  border: 3px solid;
  border-radius: 5px;
  border-color: var(--color-blue-900);
  background-color: var(--color-light);
  cursor: pointer;
}

.order-section-form__label_file img {
  margin-right: 10px;
}

.order-section__button {
  height: 46px;
  grid-column: span 3;
  justify-self: center;
  font-size: 1.1rem;
  color: var(--light-color);
  border: 1px solid var(--color-light);
  border-radius: 5px;
  background-color: var(--color-blue-600);
}

.footer {
  min-height: 80px;
  background-color: var(--color-gray-700);
  color: var(--color-light);
  font-size: 0.8rem;
}

.footer__links a {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: var(--color-gray-250);
}

.footer__links a img {
  margin-right: 10px;
}

.footer p {
  min-width: 180px;
  color: var(--color-gray-250);
}
